.f3style{
    width: 80%;
    margin: 0 auto;
    padding-top: 3%;
    }  
    .faza3img{
        position:absolute;
        width: 56%; 
        

    }
  
   

.paragFaza3{
    color: antiquewhite;
    position: relative;
    background-color: #5c5c5cb0;
    padding:5%;
    margin-top: 50%;
    width: 100%;
       
    }
