@import "../../../index.scss";

.objekat {
  background: $mainGrey;
  border-radius: 0.5rem;
  margin: 1rem 0;

  img {
    width: 100%;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    display: block;
  }
}

@media screen and(min-width:1140px) {
  .objekat {
    margin: 0.5rem 0;
  }
}
