@import "../../../index.scss";

.img-container {
  position: relative;

  .close-btn {
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s linear;
    opacity: 0;
    color: $mainGreen;

    &:hover {
      opacity: 1;
    }
  }
}
