@import "../../index.scss";

.objectsList {
  height: 86vh;
  position: relative;
  display: flex;
  flex-direction: column;
  .objectsList__search {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 10px;
    .marquee {
      margin-bottom: 5px;
    }
    .objectsList__search-more {
      margin-bottom: 5px;
      border: 1px solid white;
    }
    .objectsList__search-more > div {
      display: flex;
      line-height: 30px;
      align-items: center;
      justify-content: space-around;
      .facility {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }
      .facility > div {
        margin: 0 0.3rem;
      }
    }
  }
  .objectsList__search > input {
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 400;
    text-align: center;
    transition: 0.5s;
    color: white;
    border: 0.5px solid white;
    outline: none;
    cursor: pointer;
    &:hover {
      color: $mainYellow;
    }
    &:focus {
      background: black;
      transition: 0.5s;
      &::placeholder {
        color: #333333;
      }
    }
    &::placeholder {
      color: white;
    }
  }

  .objectsList__objects {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .objectsList {
    flex-direction: row;
  }
  .objectsList__objects__obj {
    padding-right: 10px;
    position: relative;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
  }
  .objectsList__objects__obj > div:last-of-type {
    margin-top: auto;
  }
}
@media screen and (min-width: 992px) {
  .objectsList__objects__obj {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  .objectsList__objects__obj {
    grid-template-columns: repeat(3, 1fr);
  }
}
