// @import "../../index.scss";

.objektiLista {
  width: 70vw;
  margin: 0 auto;
  padding: 2rem 0;
}
.search_objekata {
  // margin-top: 2vh;
  display: flex;
  width: 70vw;
  height: 4vh;
  margin: 2vh auto;
  border: 1px solid red;
  border-radius: 0.6rem;

  input {
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .objektiLista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .objektiLista {
    width: 70vw;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  .objektiLista {
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 0;
  }
}
