.probalistyle{
 
 
 padding: 3%;
 margin-left: 3%;
 margin-right: 3%;    
 background-color: #a0a0a02d;

}

.plutoimg {
  width: 240px;
  margin-left:43%;
  margin-top: -88px;
  position:absolute;
}

.probatextstyle { 
  
   width: 60%;    
    padding-left: 3%;
    padding-top: 1%;      
    padding-bottom: 1%;    
  
}

