.lagerstyle{
    width: 80%;
    margin: 0 auto;
    padding-top: 10%;
    
 }
 
 .Lagerimg{
    width: 30%;
    position: absolute;    
    
    }
    .paragLager{
        position: relative;
        background-color: #a0a0a02d;
        padding:2%;
        margin-top:10%;
        width: 55%;
        margin-left: 45%;
    }