@import "../../index.scss";

.bottom__menu {
  display: flex;
  margin: 0 auto;
  background-color: #c7c7c72a;
  color: #cc9900;
  text-align: center;

  .banners {
    // display: flex;
    // border: 1px solid red;
    background: rgba(95, 92, 92, 0);
    position: relative;
    // justify-content: space-between;
    // width: 20vw;
    margin: 0 auto;
    height: 25vh;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
    img {
      border: 1px solid oldlace;
      border-radius: 0.4rem;
      width: 100%;
      height: auto;
    }
    .banner1-slika {
      position: relative;
      width: 16vw;
      img {
        height: 20vh;
        width: auto;
      }
    }
    .banner2-slika {
      width: 8vw;
      img {
        height: 20vh;
        overflow: hidden;
      }
    }
    .banner3-slika {
      // border: 1px solid red;
      width: 16vw;
      img {
        height: 20vh;
      }
    }
    p {
      font-family: "Courgette", cursive;
      font-size: 1rem;
    }
  }
}
@media screen and(min-width:769px) {
  .bottom__menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    // margin: 0 auto;
    width: 90%;

    img {
      width: 100%;
      height: auto;
    }
  }
}
@media screen and(min-width:996px) {
  .bottom__menu {
    width: 70%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
@media screen and(max-width:769px) {
  .bottom__menu1 {
    display: none;
  }
  .bottom__menu2 {
    display: none;
  }
  .bottom__menu3 {
    // border: 1px solid red;
    width: 20vw;
    height: 35vh;
  }
  .bottom__menu4 {
    display: none;
  }
}
