@import "../../index.scss";

.col-example {
  margin: 0 auto;
  padding: 1rem;
  background-color: #a0a0a02d;
  color: #fff;
  text-align: center;
  width: 70%;
  img {
    width: 100%;
    height: auto;
  }
}
