.slider {
    background: rgba(95, 92, 92, 0);
    position: relative;
    width: 500px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    white-space: nowrap;
  
  }
  
  .slider-wrapper {
    position: relative;
    height: 163%;
    width: 100%;
  }
  
  .slide {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border-top: 1px solid oldlace;
    border-bottom: 1px solid oldlace;
  }
  
  .arrow {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    border-radius: 50%;
    cursor: pointer;
    transition: transform ease-in .1s;
  }
  
  .nextArrow {
    position: absolute;
    top: 85%;
    right: 25px;
    z-index: 999;
    color: #fff;
    font-size: 13px;
  }
  
  .backArrow {
    position: absolute;
    top: 85%;
    left: 25px;
    z-index: 999;
    color: #fff;
    font-size: 13px;
  }
  
  .fa-arrow-right:before, .fa-arrow-left:before {
    color: #cc9900;
  }
  