@import "../../../index.scss";

.infoObjekta {
  top: 25vh;
  width: 80%;
  height: auto;
  background: white;
  border-radius: 0.6rem;
  box-shadow: 2px 0px 7px $mainBlack;
  position: fixed;

  left: 10%;
  z-index: 200;
  transform: translateX(-400%);
  transition: transform 0.5s ease-out;

  .infoDiv {
    background: black;
    // padding-left: 5%;
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;
    border: 2px solid white;
    .close-btn {
      position: absolute;
      display: block;
      top: 5%;
      right: 5%;
      font-size: 5vh;
      cursor: pointer;
      transition: all 0.3s linear;
      opacity: 1;
      color: red;
    }
    .infoSlika {
      h1 {
        margin: 0 0;
        padding: 0.5rem 0;
        color: $mainYellow;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
.infoObjekta.open {
  transform: translateX(0);
}

@media screen and(min-width:769px) {
  .infoObjekta {
    top: 20vh;
    width: 40%;
    left: 30%;
    height: auto;
  }
}
