@import "../../../index.scss";

.objekat-info {
  position: relative;

  .socialButtons {
    display: flex;
    align-self: center;
    border-top: 2px solid $mainBlack;
    border-bottom: 2px solid $mainBlack;

    .svidjanja {
      flex: 1;
      display: flex;
      transition: all 0.3s linear;
      color: $mainBlack;
      z-index: 1;
      p {
        flex: 2;
        font-size: 0.7rem;
        align-self: center;
        text-align: center;
        margin: auto 0;
      }
      .like {
        flex: 1;
        padding: 0 0;
        margin: 0 0;
        border: none;
        font-size: 0.7rem;
        color: $mainGreen;
        background: transparent;
        transform: rotate(360deg) scaleX(-1);
        cursor: pointer;
        i {
          font-size: 1rem;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .komentarisanje {
      flex: 1;
      display: flex;
      border: none;
      font-size: 0.7rem;
      color: $mainBlack;
      cursor: pointer;

      p {
        float: right;
        flex: 2;
        font-size: 0.7rem;
        align-self: center;
        text-align: center;
        margin: auto 0;
      }
      .comments {
        flex: 1;
      }
    }
  }
  .opsti-podaci {
    padding: 0.5rem;

    h3 {
      font-size: 1.2rem;
      text-align: center;
      text-transform: uppercase;
      color: $mainGreen;
      font-weight: bold;
      cursor: pointer;
    }
    h4 {
      margin-top: 0.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      color: $mainBlack;
    }
    h5 {
      color: $mainBlack;
      margin-top: 0.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      span {
        color: $mainGreen;
        margin: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
  }
}
