@import "../../../index.scss";

.infoPiva {
  position: fixed;
  top: 25vh;
  left: 10%;
  width: 80%;
  height: auto;
  background: black;
  border-radius: 0.6rem;
  box-shadow: 2px 0px 7px $mainBlack;
  z-index: 200;
  transform: translateX(-400%);
  transition: transform 0.5s ease-out;

  .infoDiv-pivo {
    background: black;
    width: 100%;
    height: auto;
    border-radius: 0.6rem;
    border: 2px solid white;
    cursor: pointer;
    .close-btn {
      position: absolute;
      display: block;
      top: 5%;
      right: 5%;
      font-size: 5vh;
      cursor: pointer;
      transition: all 0.3s linear;
      opacity: 1;
      color: red;
    }
    .infoSlika-pivo {
      img {
        width: 100%;
      }
      h1 {
        margin: 0 0;
        padding: 0.5rem 0;
        color: $mainYellow;
        font-size: 2rem;
        text-transform: uppercase;
      }
    }
  }
}
.infoPiva.open {
  transform: translateX(0);
}

@media screen and(min-width:769px) {
  .infoPiva {
    top: 8vh;
    width: 30%;
    left: 35%;
    height: auto;
  }
}
