@import "../../../../index.scss";

.poststyle {
  width: 70%;
  margin: 0 auto;
  margin-top: 1%;
  padding-top: 1%;
  background-color: #a0a0a02d;
  padding-bottom: 1%;
}
h1 {
  color: $mainYellow;
}
