@import "../../index.scss";

.main_cover {
  color: black;
  width: 90%;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  .lady {
    position: relative;
    img {
      position: absolute;
      z-index: +1;
      width: auto;
      height: 50vh;
      left: 0;
      bottom: 0;
    }
  }
  .srednjeDugme {
    // display: inline;
    position: absolute;
    // border: 1px solid red;
    // height:50vh;
    left: 0;
    top: 10%;
    width: 80%;
    text-align: center;
    // margin-top: 5%;
    // top: 5%;
    img {
      // border: 1px solid red;
      // position: absolute;
      z-index: +1;
      width: auto;
      height: 40vh;
      // left: 0;
      // margin-top: 0;
      // top: -18rem;
    }
  }
  .desnoDugme {
    position: relative;
    height: auto;
    left: 75%;
    bottom: 5%;
    img {
      // border: 1px solid red;
      position: absolute;
      z-index: +1;
      width: auto;
      bottom: -2rem;
    }
  }
}
@media screen and(max-width:768px) {
  .srednjeDugme {
    display: none;
    position: relative;
    // position: relative;
    // border: 1px solid red;
    margin-left: 15%;
    height: auto;
    left: 50%;
  }
}
@media screen and(min-width:996px) {
  .main_cover {
    width: 70%;
  }
}

@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
