@import "../../index.scss";

.cover {
  position: relative;
  width: 100%;
  height: 100%;
  color: black;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .lady {
    position: relative;
    img {
      position: absolute;
      z-index: +1;
      width: auto;
      height: 35vh;
      left: 0;
      bottom: 0;
    }
  }
  .centerButton {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      position: absolute;
      z-index: +1;
      width: auto;
      height: 25vh;
    }
    .craftBeersButton {
      background: transparent;
      cursor: pointer;
      z-index: +1;
      animation: pulse 2s ease-out infinite;
      &:focus {
        outline: none;
      }
    }
  }
  .desnoDugme {
    display: none;
  }

  .preporucenoPivo {
    position: absolute;
    width: 400px;
    right: 15%;
    top: 45%;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    font-size: 2.4rem;
    font-family: Melvis;
    text-align: center;
  }
  .preporucenoPivo::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border: 2px solid rgba(0, 0, 0, 0.6);
    transition: top, left, right, bottom, 200ms ease-in-out;
  }
  .preporucenoPivo:hover::before,
  .preporucenoPivo:focus::before {
    top: -4px;
    bottom: -4px;
    left: -4px;
    right: -4px;
  }
}
@media screen and(max-width:768px) {
  .centerButton {
    position: absolute;
    img {
      height: 35vh;
    }
  }
}
@media screen and(min-width:769px) {
  .cover {
    margin: 0 auto;
    .lady {
      img {
        height: 65vh;
      }
    }
    .centerButton {
      img {
        left: 50%;
        transform: translateX(-50%);
        top: 15%;
        height: 50vh;
      }
    }
    .desnoDugme {
      display: block;
      position: absolute;
      bottom: -1.5rem;
      right: 1.5rem;
      height: 85vh;
      cursor: pointer;
      z-index: +1;
      img {
        top: 0;
        width: auto;
        height: 100%;
        z-index: +999;
        &:hover {
          transform: scale(1.02);
        }
      }
      &:focus {
        outline: none;
      }
    }
  }
}

@media screen and(min-width:996px) {
  .cover {
    width: 90%;
  }
}
@keyframes pulse {
  0% {
    opacity: (0.5);
  }
  100% {
    opacity: (1);
  }
}
