.alestyle{
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    }  
    .IPAimg{
        width: 30%;
        position: absolute;
        

    }
    .APAimg{
        width: 30%;
        position: absolute;
        margin-left: 25%;
        margin-top: 5%;
        padding-top: 5%;

    }
   

.parag1{
        position: relative;
        background-color: #a0a0a02d;
        padding:5%;
        margin-top:5%;
        width: 60%;
        margin-left: 40%;
    }
.parag2{
        position: relative;
        background-color:  #a0a0a02d;
        padding:5%;
        margin-top:25%;
        
        width: 60%;
        
    }