@import "../../index";

div {
  position: absolute;
  display: block;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 0.5;
  //   color: red;

  &:hover {
    opacity: 1;
  }
}
