@import "../../index";

.btn_pluto {
  display: none;
  position: absolute;
  // left: 70%;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: +1;
  animation-delay: 2s;
  animation-iteration-count: infinite;

  img {
    position: absolute;
    z-index: +1;
    width: auto;
    height: 60vh;
    // bottom: -1.2rem;
    // text-decoration: none;
    &:hover {
      transform: scale(1.02);
    }
  }
  &:focus {
    outline: none;
  }
}
@media screen and(min-width:769px) {
  .btn_pluto {
    display: flex;
    // right: 20%;
    img {
      width: auto;
    }
  }
}
// @media screen and(min-width:996px) {
//   .btn_pluto {
//     // right: 10%;
//   }
// }
// @media screen and(min-width:992px) {
//   .btn_pluto {
//     // top: -11%;
//     // left: 75%;
//     img {
//       width: 11rem;
//     }
//   }
// }
