@import "../../index";

.btn_pluto {
  display: none;
  position: absolute;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: +1;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  opacity: 1;

  img {
    position: absolute;
    z-index: +1;
    width: auto;
    height: 60vh;
    &:hover {
      transform: scale(1.02);
    }
  }
  &:focus {
    outline: none;
  }
}
@media screen and(min-width:769px) {
  .btn_pluto {
    display: flex;
    img {
      width: auto;
    }
  }
}
