@import "../../index.scss";

.preporucenoPivo-poziv {
  // border: 1px solid white;
  // font-size: 3rem;
  color: $mainWhite;
  cursor: pointer;
  background-color: #4948483b;
  z-index: +1;

  &:hover {
    transform: scale(1.03);
  }
  &:focus {
    outline: none;
  }
}

@media screen and(min-width:769px) {
  .preporucenoPivo-poziv {
    font-size: 2rem;
  }
}
