@import "../../index";

button {
  background: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
  opacity: 0.9;

  &:hover {
    opacity: 1;
  }
  &:focus {
    outline: none;
  }
}
