@import "../../index.scss";

.btn_zanatskaPiva {
  position: absolute;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: +1;
  animation: pulse 2s ease-in infinite;
  &:hover {
    transform: scale(1.03);
  }
  &:focus {
    outline: none;
  }
}

@keyframes pulse {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.5);
  }
}
