@import "../../../index.scss";

.side-drawer {
  position: fixed;
  height: 100%;
  background: $mainYellow;
  box-shadow: 2px 0px 7px $mainBlack;
  top: 0;
  left: 0;
  width: 40%;
  max-width: 250px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  .logo {
    display: flex;
    margin: 0.5rem auto;

    img {
      margin: 0 auto;
      padding: 0 auto;
      width: 100%;
    }
  }
  .naziv {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    font-size: 2.5rem;
    font-family: "Courgette", cursive;
    color: $mainGrey;
  }
  ul {
    padding: 0.5rem;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    font-size: 1.2rem;
    color: yellow;
  }

  li {
    margin: 0.5rem 0;
  }
  .top-link2 {
    display: inline-block;
    width: 100%;
    align-self: center;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: $mainBlack;
    border-bottom: 1px solid $mainGrey;
    &:hover {
      color: $mainGrey;
      font-weight: bold;
    }
    &.active {
      color: $mainGrey;
      font-weight: bold;
    }
  }
}

.side-drawer.open {
  transform: translateX(0);
}

@media screen and(min-width:769px) {
  .side-drawer {
    display: none;
  }
}
