@import "../../../index.scss";

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20px;
  width: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  .toggle-button-line {
    width: 25px;
    height: 2px;
    background: white;
  }
}
