@import "../../../index.scss";

.navBar {
  width: 100%;
  height: 55px;
  display: flex;
  // position: fixed;
  // width: 90%;
  // margin: 0 auto;
  // align-self: center;
  // background: transparent;
  text-decoration: none;
  padding: 0 3%;
  margin: 0 auto;
  // justify-content: space-between;
  // text-align: center;
  // border: 1px solid red;
  .nav-spacer1 {
    flex: 3;
    // border: 1px solid blue;
  }

  .naziv {
    // border: 1px solid red;
    flex: 1;
    // text-align: center;
    // vertical-align: 50%;
    // margin: 3rem;
    // padding: 0 0.5rem;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Courgette", cursive;
    color: #cc9900;
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 1;
      font-weight: 500;
      transition: all 2s;
      // font-size: 2rem;
    }
  }
  .toggle-button {
    // display: inline-block;
    // border: 1px solid green;
    // width: 100%;
    align-self: center;
    flex: 1;
    // display: flex;
    padding-right: 1rem;
    // float: right;
  }

  .nav-links {
    align-self: center;

    ul {
      display: flex;
      list-style: none;
      margin: auto 0;
    }

    li {
      padding: 0 0.5rem;
      color: $mainYellow;
      text-transform: capitalize;
      font-size: 1.5rem;
      transition: all 0.3s linear;
    }
  }

  .nav-link {
    // border: 1px solid red;
    color: $mainGrey;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    &:hover {
      opacity: 1;
      font-weight: bold;
    }
    &.active {
      color: $mainYellow;
      opacity: 1;
    }
  }
}
.nav-spacer2 {
  flex: 1;
}

@media screen and(max-width:995px) {
  .nav-links {
    display: none;
  }
  // .nav-spacer1 {
  //   display: none;
  // }
  .nav-spacer2 {
    display: none;
  }
}
@media screen and(min-width:768px) {
  .navBar {
    display: flex;
  }
}
@media screen and(min-width:996px) {
  .navBar {
    display: flex;
    width: 70%;
    margin-left: 15%;
    .nav-spacer1 {
      flex: 1;
    }
    .toggle-button {
      display: none;
    }
  }
}
