@import "../../../index.scss";

.navBar {
  display: flex;
  width: 100%;
  height: 3.5rem;
  margin: 0 auto;
  justify-content: space-between;
  .nav__link {
    flex: 1;
    line-height: 3.5rem;
    font-size: 2rem;
    color: $mainGrey;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s all;
    align-self: center;
    text-align: center;
    &:hover {
      opacity: 1;
    }
    &.active {
      color: $mainGrey;
      opacity: 1;
    }
  }
  .nav__link:nth-child(3) {
    flex: 2;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    font-size: 3.3rem;
    font-family: Melvis;
    color: $mainYellow !important;
    opacity: 0.7;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  .toggle-button {
    margin-left: auto;
    margin-right: 2.5vw;
    align-self: center;
    padding-right: 1rem;
  }
}

@media screen and(max-width:995px) {
  .nav-links {
    display: none;
  }
}
@media screen and(min-width:768px) {
  .toggle-button {
    display: none;
  }
  .nav-links {
    width: 100%;
    display: flex;
  }
}
@media screen and(min-width:996px) {
  .navBar {
    width: 60%;
  }
}
