.portstyle{
    width: 80%;
    margin: 0 auto;
    margin-top:20%;
    
    
 }
 
 .Porterimg{
    width: 30%;
    position: absolute;
    
    }
    .paragPorter{
        position: relative;
        background-color: #a0a0a02d;
        padding:5%;
        margin-top:10%;
        
        width: 55%;
        margin-left: 45%;
    }