@import "../../index.scss";

.glavniDiv {
  width: 70vw;
  margin: 0 auto;

  .pretraga {
    display: flex;
    margin: 2vh auto;

    .search_mesta {
      flex: 1;
      color: white;

      input {
        height: 100%;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        background: $mainYellow;
        transition: 0.5s;
        color: white;
        border: 2px solid white;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        outline: none;
        cursor: pointer;
        &:hover {
          color: $mainYellow;
        }
        &:focus {
          background: black;
          transition: 0.5s;
          &::placeholder {
            color: #333333;
          }
        }
        &::placeholder {
          color: white;
        }
      }
    }
    .search_imena {
      flex: 1;
      color: white;

      input {
        height: 100%;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        background: $mainYellow;
        transition: 0.5s;
        color: white;
        border: 2px solid white;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
        outline: none;
        cursor: pointer;
        &:hover {
          color: $mainYellow;
        }
        &:focus {
          background: black;
          transition: 0.5s;
          &::placeholder {
            color: #333333;
          }
        }
        &::placeholder {
          color: white;
        }
      }
    }
  }

  .objektiLista {
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  .objektiLista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .objektiLista {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1140px) {
  .objektiLista {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 0;
  }
}
