@import "../../index.scss";

.main_cover {
  // top: 1.5rem;
  background: transparent;
  color: black;
  width: 70%;
  height: 50vh;
  margin: 0 auto;
  border: 5px solid white;
  // border-radius: 50px 0px 50px 0px;

  img {
    position: relative;
    border-top-left-radius: 0%;
  }
}

.btn_zanatskaPiva {
  position: absolute;
  display: flex;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  box-sizing: border-box;
  top: 30%;
  left: 45%;
  &:hover {
    transform: scale(1.1);
    transform: skew(-10deg);
  }
}
@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.btn_bottle {
  position: absolute;
  display: flex;
  background: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  box-sizing: border-box;
  top: 8%;
  left: 60%;
  // box-shadow: 4px 5px 7px 5px rgba(0, 0, 0, 0.84);
  // &:hover {
  //   transform: scale(1.01);

  // }
  &:hover {
    animation: bounce 1s;
  }
}
