@import "../../../index.scss";

.toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2rem;
  width: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  .toggle-button-line {
    width: 2rem;
    height: 0.25rem;
    background: white;
    transition: all 0.1s linear;
    // border: 1px solid red;
    &:hover {
      background: $mainYellow;
    }
  }
}
