@import "../../../index.scss";

.smallBar {
  display: flex;
  width: 100%;
  margin: 0.5rem auto;
  // margin: 0 auto;
  // margin-left: 5%;
  // background: transparent;
  align-items: center;
  color: $mainYellow;
  // ??????????????????????????????????????????
  text-align: center;
  justify-content: space-evenly;

  .smallBar-links {
    // :first-child {
    //   color: red !important;
    // }
    ul {
      display: flex;
      margin: 0 auto;
    }

    li {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      list-style: none;
      padding: 0 auto;
      color: $mainYellow;
      text-decoration: none;
      font-size: 0.8rem;
      transition: all 0.3s linear;
      justify-content: center;
      border-right: 1px solid $mainYellow;

      &:hover {
        color: $mainYellow;
      }
      &:first-child {
        list-style: none;
        color: $mainYellow;
        font-family: "Courgette", cursive;
        text-transform: uppercase;
      }
      &:last-child {
        border: none;
      }
    }
    .smallBar-link0 {
      color: $mainYellow;
      text-decoration: none;
      padding-right: 1rem;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }

    .smallBar-link {
      // list-style: circle;
      color: $mainGrey;
      padding-right: 1rem;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@media screen and(min-width:769px) {
  .smallBar {
    display: flex;
    width: 80%;
    margin-left: 5%;
    .smallBar-links {
      ul {
        li {
          border-right: none;
        }
      }
    }
  }
}
@media screen and(min-width:996px) {
  .smallBar {
    width: 60%;
    margin-left: 15%;
    .smallBar-link {
      font-size: 1rem;
    }
    .smallBar-link0 {
      font-size: 1rem;
    }
  }
}
