@import "../../../index.scss";

.smallBar {
  display: flex;
  width: 100%;
  align-items: center;
  color: $mainYellow;
  .smallBar__link {
    opacity: 0.6;
    color: $mainGrey;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.3s linear;
    justify-content: center;
    border-right: 1px solid $mainYellow;
    margin: 5px 0;
    padding: 0 15px;
    &:hover {
      // color: $mainYellow;
      opacity: 1;
    }
    &:first-child {
      padding-left: 0;
      color: $mainYellow;
      font-family: Melvis;
      font-size: 2rem;
      text-transform: uppercase;
    }
    &:last-child {
      border: none;
    }
  }
}

@media screen and(min-width:769px) {
  .smallBar {
    display: flex;
    width: 80%;
    margin: 0.5rem;
    .smallBar__link {
      font-size: 1.4rem;
      line-height: 2rem;
    }
  }
}
@media screen and(min-width:996px) {
  .smallBar {
    width: 70%;
    margin-left: 5%;
  }
}
