.predstyle{
width: 70%;
 margin: 0 auto;
 margin-top: 1%;
 padding-top: 1%;    
 background-color: #a0a0a02d;
 padding-bottom: 1%;
 position: relative;
 color: #cc9900;
}
.plutoimg{
    width:20%;
    height: auto;
    margin-left: 70%;
    position: absolute;
    margin-top: -3%;
}
.textstyle{
   width:50%; 
   padding-left: 5%;
   padding-top: 3%;
   padding-bottom: 3%;
}

.probatextstyle{
    position: relative;
    margin: 0 auto;
    margin: 3%;
    padding-top: 1%;    
    background-color: #a0a0a02d;
    }
    
   