@import "../../index.scss";

.lista_piva {
  margin: 0 auto;
  width: 70%;
  color: $mainBlack;
}

@media screen and(min-width:768px) {
  .lista_piva {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1.5rem;
  }
}
