@import "../../index.scss";

.pagination {
  grid-column: span 3;
  width: 100%;
  max-height: 40px;
  // bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  padding: 5px 0;
  div {
    text-align: center;
    border-radius: 50%;
    background: $mainWhite;
    border: 1px solid $mainYellow;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: $mainYellow;
    font-weight: 600;
    cursor: pointer;
    margin: 0 10px;
  }
  .open {
    background: $mainYellow;
    color: white;
  }
}
