@import "../../index.scss";

.pagination {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
    border-radius: 50%;
    background: $mainWhite;
    border: 1px solid $mainYellow;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: $mainYellow;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
  }
  .open {
    background: $mainYellow;
    color: white;
  }
}
