.formastyle{
    width: 70%;
    margin: 0 auto;
    margin-top: 1%;
    padding: 3%;       
    background-color: #a0a0a02d;    
    position: relative;
    color: #cc9900;  
    padding-bottom: 15%;
 ul{
    
        margin-top: -150px;
        
   
}   

}

.komentlista{     
    margin-left: 60%;
    
}
input{
    padding: 1%;
    color: #cc9900; 
    background-color: #a0a0a02d; 

    
}
.komentstyle{
    width:70%;
    height: auto;    
    position: absolute;
    margin-top: -155px;
    
    
}
.unosstyle{
    width: 45%;
    border-right: #cc9900 solid 1px;
}
.dugmestyle{
    padding: 2%;
    color: #cc9900; 
    background-color: #a0a0a02d; 
}

.ispisstyle{
    width: 80%;
    position: relative;
    padding-left: 55%;
    margin-top: -55px;
    padding-bottom: 5%;
    border-left: #cc9900 solid 1px;

}
