@import "../../index.scss";

.navBar {
  display: flex;
  width: 90%;
  margin: 0.2rem auto;
  align-self: center;
  background: transparent;
  text-decoration: none;
  border: 1px solid green;

  .spacer1 {
    flex: 1;
    border: 1px solid red;
  }
  .naziv {
    flex: 1;
    padding: 0 0.5rem;
    align-self: center;
    font-size: 1.8rem;
    font-family: "Courgette", cursive;
    color: #cc9900;
  }
  .toggle-button {
    align-self: center;
    flex: 1;
    display: inline;
    margin: 0 auto;
    border: 1px solid blue;
  }

  .nav-links {
    align-self: center;

    ul {
      display: flex;
      list-style: none;
      margin: auto 0;
    }

    li {
      padding: 0 0.5rem;
      color: $mainYellow;
      text-transform: capitalize;
      font-size: 1.5rem;
      transition: all 0.3s linear;
    }
  }

  .nav-link {
    color: $mainGrey;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    &:hover {
      opacity: 1;
      font-weight: bold;
    }
    &.active {
      color: $mainYellow;
      opacity: 1;
    }
  }
}
.spacer2 {
  flex: 1;
  border: 1px solid red;
}
@media screen and(max-width:768px) {
  .nav-links {
    display: none;
  }
  .spacer2 {
    display: none;
  }
}
@media screen and(min-width:769px) {
  .navBar {
    display: flex;
    width: 70%;
    margin-left: 15%;
    .toggle-button {
      display: none;
    }
  }
}
