@import "../../index.scss";

.navBar {
  display: flex;
  width: 70%;
  margin-left: 15%;
  .logo {
    background: white;
    border-radius: 50%;
    border: 6px solid black;
    z-index: +10;
    img {
      padding: 0.2rem;
      width: 3rem;
      height: 3rem;
    }
  }

  .nav-spacer1 {
    flex: 1;
  }

  .naziv {
    flex: 1;
    align-items: center;
    font-size: 1.8rem;
    font-family: "Courgette", cursive;
    color: #cc9900;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      transition: all 2s;
    }
  }
  .toggle-button {
    align-self: center;
    flex: 1;
    display: flex;
    padding-right: 0;
    float: right;
  }

  .nav-links {
    align-self: center;

    ul {
      display: flex;
      list-style: none;
      margin: auto 0;
    }

    li {
      padding: 0 0.5rem;
      color: $mainYellow;
      text-transform: capitalize;
      font-size: 1.5rem;
      transition: all 0.3s linear;
    }
  }

  .nav-link {
    color: $mainGrey;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    &:hover {
      opacity: 1;
      font-weight: bold;
    }
    &.active {
      color: $mainYellow;
      opacity: 1;
    }
  }
}
.nav-spacer2 {
  flex: 1;
}

@media screen and(max-width:995px) {
  .nav-links {
    display: none;
  }
  .nav-spacer2 {
    display: none;
  }
}
@media screen and(min-width:768px) {
  .navBar {
    display: flex;
    width: 70%;
    margin-left: 15%;
    .toggle-button {
      display: none;
    }
    .logo {
      position: absolute;
      background: white;
      top: 3vh;
      border-radius: 50%;
      border: 6px solid black;
      z-index: +10;
      img {
        padding: 0.2rem;
        width: 4rem;
        height: 4rem;
      }
    }
    .naziv {
      padding-left: 35%;
    }
  }
}
@media screen and(min-width:996px) {
  .nav-spacer1 {
    flex: 1;
  }
}
