@import "../../index.scss";

.navBar {
  display: flex;
  width: 70%;
  align-self: center;
  padding: auto 1rem;
  background: transparent;
  text-decoration: none;

  .spacer {
    flex: 1;
  }
  .naziv {
    flex: 1;
    align-self: center;
    font-size: 30px;
    padding: auto auto;
    font-family: "Courgette", cursive;
  }
  .nav-links {
    align-self: center;

    ul {
      display: flex;
      list-style: none;
    }

    li {
      padding: 0 10px;
      color: $mainYellow;
      text-transform: capitalize;
      font-size: 1.5rem;
      transition: all 0.3s linear;
    }
  }

  .nav-link {
    color: $mainGrey;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
    &:hover {
      opacity: 1;
      font-weight: bold;
    }
    &.active {
      color: $mainYellow;
      opacity: 1;
    }
  }
}

@media screen and(max-width:768px) {
  .nav-links {
    display: none;
  }
}
