@import "../../index.scss";

.mainscreen {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .mainscreen {
    width: 100%;
    //first size is bar, sescond smallbar
    height: calc(100vh - 14vh - 8vh);
    // border: 1px solid red;
  }
}
