@import "../../index.scss";

.mainscreen {
  width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 769px) {
  .mainscreen {
    // border: 1px solid blue;
    width: 100%;
    height: 150vh;
  }
}
