@import "../../../index.scss";

.btn_pluto {
  display: flex;
  position: absolute;
  top: 1rem;
  left:60%;
  background: transparent;
  cursor: pointer;
  border: none;
  box-sizing: border-box;
  z-index: +1;
  img {
    width: 10rem;
    
    &:hover {
        transform: scale(1.1);
        
      }
  }
 
}

@media screen and(min-width:600px) {
  .btn_pluto {
    right: 10%;
    img {
      width: 10rem;
    }
  }
}
@media screen and(min-width:992px) {
  .btn_pluto {
    top: -11%;
    left: 75%;
    img {
      width: 11rem;
    }
  }
}
