@import "../../../index.scss";

.btn_pluto {
  display: flex;
  position: relative;
  left: 75%;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: +1;
  animation-delay: 2s;
  animation-iteration-count: infinite;

  img {
    position: absolute;
    z-index: +1;
    width: auto;
    height: 60vh;
    bottom: -1.2rem;
    &:hover {
      transform: scale(1.05);
    }
  }
}

// @media screen and(min-width:600px) {
//   .btn_pluto {
//     right: 10%;
//     img {
//       width: 10rem;
//     }
//   }
// }
// @media screen and(min-width:992px) {
//   .btn_pluto {
//     top: -11%;
//     left: 75%;
//     img {
//       width: 11rem;
//     }
//   }
// }
