@import "../../../index.scss";

.btn_zanatskaPiva {
  position: absolute;
  top: 18vh;
  left: 43%;
  background: transparent;
  cursor: pointer;
  border: none;
  z-index: +1;
  img {
    height: auto;
    width: 15vw;
  }
  &:hover {
    transform: scale(1.12);
  }
}

// @media screen and(min-width:600px) {
//   .btn_zanatskaPiva {
//     right: 10%;
//     img {
//       width: 10rem;
//     }
//   }
// }
// @media screen and(min-width:992px) {
//   .btn_zanatskaPiva {
//     top: 15%;
//     left: 40%;
//     img {
//       width: 12rem;
//     }
//   }
// }
