 
.naslov{
        text-align: center;
        display: inline;
      }   
        
.imgfest1 
    {
    
    width: 100%;
}


    .imgfest2{    
   
    width: 100%;
}
.paragraf1 {
    
    padding: 2%;
        }     


 .paragraf2 {
           
     padding: 2%;
        }
          
    
    
    

    
    
  

