/* Footer */
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
section {
  margin: 0 !important;
  padding: 0;
}
.container {
  display: flex;
  align-items: center;
  width: 70%;
}
section .section-title {
  text-align: center;
  color: #1c1c1c;
  margin-bottom: 10px;
  text-transform: uppercase;
}
#footer {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.589);
  padding-top: 35px;
  margin-top: 95px;
}

.konteiner {
  width: 70%;
  margin: 0 auto;
  margin-top: 1%;
  padding-top: 1%;

  padding-bottom: 3%;
  display: flex;
}

.row {
  margin: 0;
  padding: 0;
  width: 70%;
  align-items: center;
}

.soc {
  padding-left: 100px;
}
.h6 {
  color: #cc99008a;
}
#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #cc99008a;
  padding-bottom: 6px;
  margin-bottom: 10px;
  color: #676866ea;
  font-size: 12px;
}
#footer a {
  color: #676866ea;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  font-size: 12px;
}
#footer ul.social li {
  padding: 3px 0;
}
#footer ul.social li a i {
  margin-right: 5px;
  font-size: 25px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.social li:hover a i {
  font-size: 20px;
  margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a {
  color: #676866ea;
}
#footer ul.social li a:hover {
  color: #676866ea;
}
#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 300;
}
#footer ul.quick-links li a i {
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 300;
}

@media (max-width: 767px) {
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
