@import "../../index.scss";

.smallBar {
  display: flex;
  width: 90%;
  margin: 0 auto;

  margin-left: 5%;
  background: transparent;
  align-items: center;

  .smallBar-links {
    width: 100%;

    ul {
      display: flex;
      margin: 0 0;
    }

    li {
      display: flex;
      width: 100%;
      padding: 0 0;
      align-self: center;
      color: $mainYellow;
      text-decoration: none;
      font-size: 0.8rem;
      transition: all 0.3s linear;
      justify-content: center;
      border-right: 1px solid $mainYellow;

      &:hover {
        color: $mainYellow;
      }
      &:first-child {
        list-style: none;
        color: $mainYellow;
        font-family: "Courgette", cursive;
        text-transform: uppercase;
      }
      &:last-child {
        border: none;
      }
    }
    .smallBar-link {
      color: $mainGrey;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        color: $mainYellow;
        opacity: 1;
      }
    }
  }
  .spacer {
    flex: 1;
  }
}

@media screen and(max-width:768px) {
  .smallBar-links {
    margin-left: 0;
    font-size: 2rem;
    text-decoration: none;
    li {
      margin-top: 0.2rem;
    }
  }
}
@media screen and(min-width:769px) {
  .smallBar {
    display: flex;
    width: 80%;
    margin-left: 5%;
    .smallBar-links {
      // font-size: 3rem;
      // border: 1px solid red;
      ul {
        li {
          border-right: none;
          list-style-type: circle;
          // color: red;
        }
      }

      .smallBar-link {
      }
    }
  }
}
@media screen and(min-width:996px) {
  .smallBar {
    width: 50%;
    margin-left: 15%;

    .smallBar-link {
      padding-right: 1.5rem;
      font-size: 1rem;
      // li {
      //   border: none;
      // }
    }
  }
}
