@import "../../index.scss";

.smallBar {
  margin: 0 auto;
  display: flex;
  width: 90%;
  margin-left: 5%;
  background: transparent;
  align-items: center;
  

  .smallBar-links {
    width: 100%;

    ul {
      width: 100%;
      display: flex;
    }

    li {
      display: flex;
      margin: 0.2rem 0.1rem;
      padding: 0 0.2rem;
      align-self: center;
      color: $mainYellow;
      text-decoration: none;
      font-size: 0.9rem;
      transition: all 0.3s linear;
      justify-content: center;
      border-right: 1px solid $mainYellow;
      &:hover {
        color: $mainYellow;
      }
      &:first-child {
        list-style: none;
        color: $mainYellow;
        font-family: "Courgette", cursive;
        text-transform: uppercase;
      }
      &:last-child {
        border: none;
      }
    }
    .smallBar-link {
      color: $mainGrey;
      text-decoration: none;
      opacity: 0.8;
      &:hover {
        color: $mainYellow;
        opacity: 1;
      }
    }
  }
  .spacer {
    flex: 1;
  }
}

@media screen and(max-width:768px) {
  .smallBar-links {
    margin: 0 auto;
  }
}
@media screen and(min-width:769px) {
  .smallBar {
    width: 70%;
    margin-left: 15%;
    font-size: 1.5rem;
    li {
      border: none;
    }
  }
}
@media screen and(min-width:996px) {
  .smallBar-links {
    li {
      border: none;
    }
  }
}
