@import "./index.scss";

.app {
  width: 100%;
  margin-top: 1.5rem;
  background: url("./img/pozadina.jpg");
}

@font-face {
  font-family: "Melvis";
  src: local("Melvis"),
    url("./UI/Fonts/Fonts/Melvis Rough.otf") format("opentype");
}
