*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

$mainBlack: #222;
$mainGreen: #3a3b38f8;
$mainWhite: #fff;
$mainGrey: #c0c0c0;
$mainYellow: #cc9900;
$mainYellow2: #926e02;

body {
  box-sizing: border-box;
  margin: 0 auto;
  align-self: center;
  background: $mainWhite;
  color: $mainYellow;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;
@media screen and(min-width:1500px) {
  * {
    font-size: 24px;
  }
}
@media screen and(min-width:1800px) {
  * {
    font-size: 32px;
  }
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mainYellow2;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $mainYellow;
}
