* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #222;
$mainGreen: #6c9636;
$mainWhite: #fff;
$mainGrey: #e9e9e9;
$mainYellow: #cc9900;

html {
  height: 100%;
}

body {
  margin: 0px auto;
  align-self: center;
  background: $mainWhite;
  color: $mainYellow;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  height: 100%;
}
@media screen and (min-width: 1140px) {
  #root {
    // width: 1000px;
    margin: 0 auto;
  }
}
// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;
