* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

$mainBlack: #222;
$mainGreen: #3a3b38f8;
$mainWhite: #fff;
$mainGrey: #c0c0c0;
$mainYellow: #cc9900;

body {
  margin: 0 auto;
  align-self: center;
  background: $mainWhite;
  color: $mainYellow;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
}

// font-family: 'Open Sans', sans-serif;
// font-family: 'Pacifico', cursive;
