@import "../../../index.scss";

.facilities {
  display: flex;
  width: 100%;
  height: 1.1rem;
  line-height: 1.1rem;
  vertical-align: middle;
  border-top: 0.5px solid black;

  i {
    padding-top: 0.2rem;
    font-size: 1rem;
    margin: 0 0.3rem;
  }
}
