@import "../../../index.scss";

.objekat {
  background: $mainGrey;
  border-radius: 0.5rem;
  margin: 1rem 0;

  img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    display: block;
  }
}
.objekat:hover {
  animation: changeBackground 0.3s ease-in forwards;
  // background: white;
}
@media screen and(min-width:1140px) {
  .objekat {
    margin: 0.5rem 0;
  }
}

@keyframes changeBackground {
  0% {
    background: $mainGrey;
  }
  100% {
    background: white;
  }
}
