@import "../../../index.scss";

.objekat-info {
  position: relative;
  .opsti-podaci {
    padding: 5px;
    h3 {
      margin: 0;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: $mainYellow;
      font-weight: bold;
      cursor: pointer;
    }
    h4 {
      font-size: 0.9rem;
      text-transform: capitalize;
      color: $mainBlack;
      margin: 0;
    }
    p {
      // min-height: 150px;
      padding: 0;
      margin: 0;
      color: rgb(70, 70, 70);
      font-size: 0.7rem;
    }
  }
}
.objekat-info.bigScreen {
  position: absolute;
  top: 350px;
  left: 0;
  right: 0;
  bottom: 0;
}
.opsti-podaci.small {
  p {
    display: none;
  }
}
.opsti-podaci.bigScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
  h3 {
    font-size: 1.4rem;
  }
  p {
    min-height: auto;
    font-size: 0.8rem;
  }
}
.opsti-podaci.bigScreen > div:last-of-type {
  border: none;
  margin-top: auto;
}

@media screen and(min-width:768px) {
  p {
    min-height: 120px;
  }
}
