@import "../../../index.scss";

.objekat-info {
  position: relative;
  padding: 0.5rem;
  .opsti-podaci {
    height: 220px;
    h3 {
      font-size: 1.2rem;
      text-transform: uppercase;
      color: $mainGreen;
      font-weight: bold;
      cursor: pointer;
    }
    h4 {
      margin-top: 0.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      color: $mainBlack;
    }
    h5 {
      color: $mainBlack;
      margin-top: 0.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      span {
        color: $mainGreen;
        margin: 0.5rem;
        font-size: 1rem;
        cursor: pointer;
      }
    }
    p {
      color: rgb(70, 70, 70);
      font-size: 0.85rem;
    }
  }
}
