@import "../../../index.scss";

.img__container {
  position: relative;
  height: 280px;
  img {
    object-fit: cover;
    overflow: hidden;
  }
  .close__btn {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.6rem;
    transition: all 0.3s linear;
    color: red;
  }

  .fb {
    position: absolute;
    top: 0%;
    left: 0%;
    color: blue;
    background: white;
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .img__container {
    height: 220px;
    .close__btn {
      font-size: 1.2rem;
    }
  }
}
@media screen and (min-width: 992px) {
  .img__container {
    height: 180px;
  }
}
@media screen and (min-width: 1140px) {
  .img__container {
    height: 180px;
  }
}
