@import "../../../index.scss";

.img__container {
  position: relative;
  height: 280px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    object-fit: cover;
    overflow: hidden;
  }
  .close__btn {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 1.6rem;
    transition: all 0.3s linear;
    color: red;
  }
  .smaller__btn {
    display: none;
  }
  .smaller__btn.bigScreen {
    display: inline;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1.8rem;
    transition: all 0.3s linear;
    color: $mainYellow2;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
  }

  .fb {
    position: absolute;
    top: 0%;
    left: 0%;
    color: blue;
    background: white;
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .img__container {
    height: 220px;
    .close__btn {
      font-size: 1.2rem;
    }
  }
  .img__container.small {
    height: 120px;
  }
  .img__container.bigScreen {
    height: 350px;
  }
}
@media screen and (min-width: 992px) {
  .img__container {
    height: 180px;
  }
}
@media screen and (min-width: 1140px) {
  .img__container {
    height: 160px;
  }
}
