@import "../../../index.scss";

.img-container {
  border: 1px solid red;
  position: relative;
  img {
    display: block;
    border: 1px solid blue;
    width: 100%;
    height: auto;
  }
  .close-btn {
    position: absolute;
    display: block;
    top: 3%;
    right: 3%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s linear;
    opacity: 0.5;
    color: red;

    &:hover {
      opacity: 1;
    }
  }
  .fb {
    position: absolute;
    top: 0%;
    left: 0%;
    color: blue;
    background: white;
    font-size: 2rem;
  }
}
