@import "../../../index.scss";

.upisKomentara {
  top: 10%;
  height: 80vh;
  background: black;
  opacity: 0.95;
  box-shadow: 2px 0px 7px $mainBlack;
  position: fixed;
  left: 10%;
  width: 80%;
  z-index: 200;
  transform: translateX(-400%);
  transition: transform 0.5s ease-out;

  .upisKomentara-glavniDiv {
    border: 1px solid $mainYellow;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0.6rem;

    .upisKomentara-nazivObjekta {
      padding: 0.5rem 0 0 0.5rem;
      color: $mainYellow;
      text-transform: uppercase;
      font-size: 1.5rem;
      opacity: 1;
    }

    .upisKomentara-komentari {
      flex: 2;
      border: 1px solid $mainYellow;
      color: white;
      padding: 0.5rem 0 0 0.5rem;
      ul {
        width: 80%;
      }
      li {
        text-decoration: none;
        list-style: none;
        border-bottom: 0.1px solid $mainYellow;
      }
    }
    .close-btn {
      position: absolute;
      display: block;
      right: 2%;
      font-size: 6vh;
      cursor: pointer;
      transition: all 0.3s linear;
      opacity: 1;
      color: red;
    }

    .upisKomentara-upis {
      flex: 1;

      .upisImena {
        margin: 0.5rem 0 0 0.5rem;
        color: $mainBlack;

        input {
          color: $mainYellow;
          height: 100%;
          font-size: 1rem;
          width: auto;
          padding: 0 0;
          transition: 0.5s;
          border: 1px solid $mainYellow;
          border-radius: 0.1rem;
          padding-left: 0.5rem;
          text-align: left;
          outline: none;
          cursor: pointer;
          &:hover {
            color: $mainYellow;
          }
          &:focus {
            background: black;
            transition: 0.5s;
            &::placeholder {
              color: #333333;
            }
          }
          &::placeholder {
            color: $mainYellow;
            opacity: 1;
          }
        }
      }
      .upisKomentara-input {
        margin: 0.5rem 0 0 0.5rem;
        color: $mainBlack;

        input {
          color: $mainYellow;
          height: 100%;
          font-size: 1rem;
          width: 50%;
          padding: 0 0;
          transition: 0.5s;
          border: 1px solid $mainYellow;
          border-radius: 0.1rem;
          padding-left: 0.5rem;
          text-align: left;
          outline: none;
          cursor: pointer;
          &:hover {
            color: $mainYellow;
          }
          &:focus {
            background: black;
            transition: 0.5s;
            &::placeholder {
              color: #333333;
            }
          }
          &::placeholder {
            color: $mainYellow;
            opacity: 1;
          }
        }
      }
      .potvrda {
        position: absolute;
        outline: none;
        bottom: 5%;
        right: 5%;
        color: white;
        // background: $mainGreen;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 0.1rem;
        padding: 0 0.2rem;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
.upisKomentara.open {
  transform: translateX(0);
}
