.slider {
  background: rgba(95, 92, 92, 0);
  position: relative;
  display: flex;
  width: 90vw;
  height: 25vh;
  margin: auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: 5s ease 0s normal forwards 1 fadein;
  animation: 5s ease 0s normal forwards 1 fadein;

  .slider-wrapper {
    height: 80%;
    width: 90vw;
    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
      border: 1px solid oldlace;
    }
  }
}

.arrow {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in 0.1s;
}

.pivotopija {
  position: absolute;
  top: 80%;
  left: 35%;
  z-index: 500;
  font-size: 1.5rem;
}
.nextArrow {
  position: absolute;
  top: 85%;
  right: 25px;
  z-index: 500;
  color: #fff;
  font-size: 0.5rem;
  cursor: pointer;
}

.backArrow {
  position: absolute;
  top: 85%;
  left: 25px;
  z-index: 500;
  color: #fff;
  font-size: 0.5rem;
  cursor: pointer;
}

.fa-arrow-right:before,
.fa-arrow-left:before {
  color: #cc9900;
}
@media screen and(min-width:769px) {
  .slider {
    width: 20vw;
    .slider-wrapper {
      width: 20vw;
      .slide {
        border-radius: 5px;
      }
    }
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
